header#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
}

div.search-wrap {
    width: 33%;
}

main#main {
    margin: 75px 0 0 0;
    width: 100%;
    min-height: 1200px;
}



